<!--
/**
 * input-type
 * @description Fragment for imput
 */
-->


<!--
/**
 * Text input.
 * @param {string} fieldName - Field name
 * @param {string} fieldLabel - Field label
 * @param {string} requiredInput - 'T'=Required input text
 */
-->
<div class="form-group" th:fragment="inputText (fieldName, fieldLabel, requiredInput)">
    <label th:for="${fieldName}" class="col-sm-2 control-label" th:text="#{${fieldLabel}}"></label>
    <div class="col-sm-10">
        <input type="text" th:field="*{__${fieldName}__}" th:id="${fieldName}" th:placeholder="#{${fieldLabel}}" class="col-4"
               th:required="${requiredInput == 'T'}">
        <p class="text-danger" th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}"></p>
    </div>
</div>

<!--
/**
 * Date input.
 * @param {string} fieldName - Field name
 * @param {string} fieldLabel - Field label
 * @param {string} requiredInput - 'T'=Required input text
 */
-->
<div class="form-group" th:fragment="inputDate (fieldName, fieldLabel, requiredInput)">
    <label th:for="${fieldName}" class="col-sm-2 control-label" th:text="#{${fieldLabel}}"></label>
    <div class="col-sm-10">
        <input type="date" th:field="*{__${fieldName}__}" th:id="${fieldName}" th:placeholder="#{${fieldLabel}}" class="col-4"
               th:required="${requiredInput == 'T'}">
        <p class="text-danger" th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}"></p>
    </div>
</div>

<!--
/**
 * User role radio button. (M=Male/F=Female)
 * @param {string} fieldName - Field name
 * @param {string} fieldLabel - Field label
 * @param {string} requiredInput - 'T'=Required input text
 */
-->
<div class="form-group" th:fragment="genderRadioButton (fieldName, fieldLabel, requiredInput)">
    <label th:for="${fieldName}" class="col-sm-2 control-label" th:text="#{${fieldLabel}}"></label>
    <div class="col-sm-10">
        <label class="radio-inline"><input type="radio" th:field="*{__${fieldName}__}"
                                           th:value="M" th:text="#{label.enum.gender.male}"
                                           th:required="${requiredInput == 'T'}"></label>
        <label class="radio-inline"><input type="radio" th:field="*{__${fieldName}__}" th:value="F"
                                           th:text="#{label.enum.gender.female}"></label>
        <p class="text-danger" th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}"></p>
    </div>
</div>

<!--
/**
 * Cancel and submit (Add/Update) button
 * @param {string} cancelLink - Cancel link
 * @param {string} submitLabel - Submit label
 */
-->
<div class="form-group" th:fragment="cancelSubmitButton (cancelLink, submitLabel)">
    <div class="col-sm-12">
        <a class="btn btn-danger btn-sm" th:href="@{${cancelLink}}" th:text="#{label.button.cancel}"></a>
        <input class="btn btn-primary btn-sm" type="submit" th:value="#{${submitLabel}}">
    </div>
</div>

<!--
/**
 * Add new button
 * @param {string} addNewLink - Add new link
 */
-->
<div class="row" th:fragment="addNewButton (addNewLink)">
    <div class="col-2">
        <a th:href="@{${addNewLink}}" class="btn btn-primary btn-sm" th:text="#{label.button.addNew}"></a>
    </div>
</div>

<!--
/**
 * Update and delete button
 * @param {string} updateLink - Update link
 * @param {string} deleteLink - Delete link
 */
-->
<th:block th:fragment="updateDeleteButton (updateLink, deleteLink)">
    <a class="btn btn-info btn-sm mx-1" th:href="@{__${updateLink}__}">
        <spam class="bi bi-pencil" /></a>
    <a class="btn btn-danger btn-sm mx-1" th:href="@{__${deleteLink}__}">
        <spam class="bi bi-trash" /></a>
</th:block>
